<% provide(:title, "Help") %>
<h1 id="petHelpTitle">IthaPet help page</h1>
<p id="petGame">
	ItaPet is an online pet game where you can adopt and interact with your own IthaPet.
</p>
<p id= "pet-help">
	To play, you will need to create an account using your name, email address, an image url, and a password.
<p id= "pet-help"> Once you have created an account, you can click
		<%=image_tag("AdoptAPet.jpg", width: "40", height: "40")%>
		 in your profile to meet all of the pets.
</p>
<p id="pet-help">
	In the 'Meet the Pets' menu, you can see other pets that have been adopted and pets that are available for adoption.
</p>

<p id="pet-help"> 
	To learn more about a pet, click on the pet's name. If they are available for adoption, you can select submit to adopt your very own pet.
</p>

<p id="pet-help"> 
	You are now the proud owner of an IthaPet!
</p>

<p id="pet-help"> 
	To take care of your pet, select 'Check on Pet' on your pet's profile page. This will take you to the 'Play with your pet' page where you interact with your new pet.
</p>

<p id="pet-help"> 
	There you will need to feed, walk, wash, and clean your pet using the button options at the bottom of the page.
</p>

<p id="pet-help"> 
	Remember to pay attention to your pet's needs and how your pet is feeling. If you do not, you may lose your pet!
</p>


<p id="pet-help">
	Thank you for playing with IthaPet!
</p>
</br>
<p id="petGame"> 
	If you are interested in helping a real pet, click on the paw print at the bottom of any page where you will be redirected to the local SPCA. There you can find a pet-friend and help other pets in need. </p>

