<div class="center jumbotron">
  <h1 id="home-logo">IthaPet</h1>

  <h2>
    A Better Kind of Pet
  </h2>
  <% if !logged_in? %>
 		<%= link_to "Apply to Adopt a Pet", signup_path, class: "btn btn-lg btn-primary" %>
 	<%end%>
</div>


