<% provide(:title, "All Pets") %>
<div class="row">

  <div class="col-md-12">

      <h1 id="meetTitle"><u>Meet the Pets</u></h1>
    <p id="meetPet"><i>Click on a pet's name for more information about that pet</i></p>
      <ol class="pets">
        <%= render @pets %>
      </ol>
      <%= will_paginate @pets %>

  </div>
</div>
