<% provide(:title, @pet.name) %>
<div class="row">
  <div class="col-md-6">
    <div>
      <h1>
        <%= @pet.name %>
      </h1>
      <%= link_to image_tag(@pet.image, alt: "IthaPet logo"),
            'http://www.spcaonline.com/' %>
    </div>

    <% if logged_in? %>

      <% if @pet.user.nil? %>

        <% if current_user.pet.nil? %>
          You should adopt this pet!
        <% end %>
      <% else %>
        <p> Proudly owned by: <%= current_user.name %> </p>
      <% end %>

      <% if current_user.pet == @pet %>
        <p> This is your pet, you should interact with it! </p>
      <% end %>

    <% end %>

  </div>
</div>
