<footer class="footer">
<p>
<%= link_to image_tag("spcapaw.jpg", alt: "IthaPet logo"),'http://www.spcaonline.com/' %>
</p>
  <small>
    A Better Kind of Pet
  </small>
  <nav>
    <ul>
      <!-- <li><%= link_to "Help",   help_path %></li> -->
    </ul>
  </nav>
</footer>
